* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.App {
	font-family: 'Poppins';
	display: flex;
	flex-direction: column;
	height: 100svb;
}

.Navbar {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	height: 91px;
	flex-grow: 0;
	z-index: 100;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Navbar > img {
	margin-left: 26px;
	margin-right: 5px;
}

.main {
	color: #282d35;
	background-color: #ffffff;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 3rem;
}

.App-hero {
	align-self: center;
	aspect-ratio: auto;
	scale: 0.7;
	margin-top: 2rem;
}

.main > h1 {
	font-weight: 600;
	font-size: 3rem;
	margin: 1rem 0 0 0;
}

.main > p {
	max-width: 55%;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 110%;
}

.Card {
	display: flex;
	flex-direction: column;
}

.topCard {
	position: relative;
}

.status {
	position: absolute;
	background-color: white;
	top: 3%;
	left: 3%;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	z-index: 100;
	font-size: 10.24px;
}

.bottomCard {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.starHolder {
	margin-top: 0.5rem;
	display: flex;
	gap: 0.2rem;
}

.starIcon {
	scale: 0.8;
}

.title {
	font-size: 0.85rem;
}

.priceDiv {
	display: flex;
}

.priceBold {
	font-weight: 900;
}

.grey {
	color: #918e9b;
}

.cards-list {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	overflow-x: auto;
	padding: 20px;
}
